spring:
  application:
    name: Spring GraphQL API
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    path: /graphql
    schema:
      locations: classpath:graphql/

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.graphql: DEBUG
